/* FONTS */

@font-face {
  font-display: swap;
  font-family: "Poppins";
  font-weight: 300;
  src: url("../fonts/poppins-v22-latin-300.woff2") format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "Poppins";
  font-weight: 400;
  src: url("../fonts/poppins-v22-latin-regular.woff2") format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "Poppins";
  font-weight: 600;
  src: url("../fonts/poppins-v22-latin-600.woff2") format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "Poppins";
  font-weight: 900;
  src: url("../fonts/poppins-v22-latin-900.woff2") format("woff2");
}
/* END FONTS */

:root {
  --color-primary-light: #faf4ea;
  --color-brand-normal: #819b57;
  --color-brand-dark: #465929;
  --color-primary-dark: #31261a;
  --bakery-landing-yellow: #a18268;
}
* {
  box-sizing: border-box;
}
body {
  color: var(--color-primary-dark);
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
}
h1,
h2,
h3,
p {
  margin-top: 0;
}
ul {
  list-style-type: none;
}
address {
  font-style: normal;
}
.section-title {
  font-weight: 900;
  font-size: 64px;

  /* line-height: 84px; */
  line-height: 131%;
  color: var(--color-primary-dark);
}

.button {
  /* display: block; */
  padding: 10px 24px;
  color: var(--color-primary-light);
  font-weight: 600;
  background-color: var(--color-brand-normal);
  border: 2px solid var(--color-brand-normal);
  border-radius: 8px;
  cursor: pointer;
}

.button:hover {
  color: var(--color-brand-dark);
  background-color: var(--color-primary-light);
}
.section {
  padding: 48px 0;
}
/* LINK */
.link {
  color: var(--color-primary-light);
  text-decoration: none;
  text-align: center;
}
.link:hover {
  color: var(--color-brand-normal);
  font-weight: 600;
}
/* END LINK */

/* HERO-SECTION */
.hero-section {
  padding: 272px 0;
}
.hero-title {
  color: var(--color-primary-light);
  text-align: center;
  font-size: 128px;
  font-weight: 900;
}

:where(.section-title, .hero-title) .accent {
  color: var(--color-brand-normal);
}

/* END HERO-SECTION */

/* ADVANTAGES-SECTION */
.hidden {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}
.advantages-list {
  background-color: var(--color-brand-normal);
  color: var(--color-primary-light);
}
.advantages-item {
  font-weight: 300;
  font-size: 20px;
  color: var(--color-primary-light);
}

/* END ADVANTAGES-SECTION */

/* TRADITIONS-SECTION */
.traditions-section {
  padding-top: 96px;
  padding-bottom: 48px;
}
.traditions-text .brand {
  color: var(--color-brand-normal);
}
.traditions-text .uppercase {
  text-transform: uppercase;
}
.traditions-title {
  margin-bottom: 42px;
}
/* END TRADITIONS-SECTION */

/* CHEFS-SECTION */
.chef-title {
  font-weight: 600;
  font-size: 40px;
  color: var(--color-primary-dark);
}
.chefs-title {
  margin-bottom: 80px;
}
/* END CHEFS-SECTION */

/* FORMATS-SECTION */
.format-title {
  font-weight: 600;
  font-size: 24px;
  color: var(--color-primary-light);
}
.format-text {
  font-weight: 300;
  font-size: 14px;
  color: var(--color-primary-light);
}
/* END FORMATS-SECTION */

/* FOOTER */
.address-link {
  font-weight: 300;
  font-size: 16px;
  color: var(--color-primary-light);
  text-decoration: none;
}
.address-link:hover {
  color: var(--color-brand-normal);
}
.address-copyright {
  font-weight: 400;
  font-size: 14px;
  color: var(--bakery-landing-yellow);
}
/* END FOOTER */
