/* FONTS */
@import "./utils/fonts.scss";
/* END FONTS */

@import "./utils/variables";

@import "./base";

@import "./utils/utils";

@import "./components/buttons";

.container {
  width: 100%;
  max-width: 1288px;
  margin: 0 auto;
  padding: 24px;
}

.section-title {
  font-weight: 900;
  font-size: 64px;
  /* line-height: 84px; */
  line-height: 131%;
  color: var(--color-primary-dark);
}
.centered {
  margin: 0 auto 80px;
  text-align: center;
}

/* HEADER */
@import "./components/header";

.section {
  padding: 48px 0;
}
/* LINK */
@import "./components/links";
/* END LINK */
/* END HEADER */

/* HERO-SECTION */
@import "./components/hero-section";

/* END HERO-SECTION */

/* ADVANTAGES-SECTION */
.advantages-section {
  background-color: var(--color-brand-normal);
  padding: 16px;
}

.advantages-list {
  color: var(--color-primary-light);
  display: flex;
  justify-content: space-between;
  gap: 40px;
}
.advantages-item {
  font-weight: 300;
  font-size: 20px;
  color: var(--color-primary-light);
}

/* END ADVANTAGES-SECTION */

/* TRADITIONS-SECTION */
.traditions-section {
  padding-top: 96px;
  padding-bottom: 48px;
}
.traditions-container {
  display: flex;
  justify-content: space-between;
  gap: 40px;
  flex-wrap: wrap;
}
.traditions-content {
  max-width: 710px;
}
.traditions-text .brand {
  color: var(--color-brand-normal);
}
.traditions-text .uppercase {
  text-transform: uppercase;
}
.traditions-text.limited {
  max-width: 340px;
}
.traditions-title {
  margin-bottom: 42px;
}
/* END TRADITIONS-SECTION */

/* CHEFS-SECTION */
.chef-title {
  font-weight: 600;
  font-size: 40px;
  color: var(--color-primary-dark);
  margin-bottom: 16px;
}
.chefs-title {
  margin-bottom: 80px;
  /* max-width: 532px; */
  position: relative;
}
.chefs-title::before,
.chefs-title::after {
  content: "";
  display: block;
  width: 352px;
  border: 1px solid var(--color-decor);
}
.chefs-title::before {
  position: absolute;
  bottom: 24px;
  left: 0;
}
.chefs-title::after {
  position: absolute;
  bottom: 24px;
  right: 0;
}
.chefs-list {
  display: flex;
  gap: 40px 30px;
  flex-wrap: wrap;
}
.chefs-item {
  flex-basis: calc((100% - 30px) / 2);
}
.chef-card {
  display: flex;
  gap: 30px;
}
.chef-photo {
  border-radius: 4px 4px 4px 200px;
  box-shadow: -16px 16px 0 0 var(--color-primary-light),
    -16px 16px 0 2px var(--color-primary-dark);
}
.chef-text p {
  margin-bottom: 24px;
}
.chef-text p:last-child {
  margin-bottom: 0;
}

/* END CHEFS-SECTION */

/* FORMATS-SECTION */
.formats-list {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}
.format-card {
  position: relative;

  border-radius: 16px;
  border: 1px solid lightgray; /*remove*/
  /* flex-grow: 1; */
  padding: 24px;
  height: 444px;
  background-image: linear-gradient(
    180deg,
    rgba(49, 38, 26, 0) 55.21%,
    rgba(49, 38, 26, 0.71) 72.92%,
    var(--color-primary-dark) 100%
  );
  transition: transform 0.3s;
}
.format-card:hover {
  transform: scale(1.05);
}
.formats-item {
  flex-basis: calc((100% - 40px) / 3);
}
.format-title {
  font-weight: 600;
  font-size: 24px;
  color: var(--color-primary-light); 
}
.formats-container {
  display: flex;
  gap: 32px;
  align-items: center;
}
.format-text {
  font-weight: 300;
  font-size: 14px;
  color: var(--color-primary-light);
}
.formats-title {
  margin-bottom: 80px;
}

.format-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
/* carousel */
.carousel-button {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  background-color: transparent;
  border: 1px solid var(--color-primary-dark);
  fill: var(--color-primary-dark);
  padding: 0;
  cursor: pointer;

  border-radius: 50%;
}
.carousel-button.next {
  transform: rotate(180deg);
}
.carousel-button:hover {
  background-color: var(--color-primary-dark);
  fill: var(--color-primary-light);
}

/* END carousel */
/* END FORMATS-SECTION */
/* CONTACT */
.contact-section {
  padding-bottom: 96px;
}
.contact-container {
  display: flex;
  gap: 32px;
  flex-wrap: wrap;
  align-items: center;
}
.contact-title {
  margin-bottom: 16px;
}
.contact-form,
.contact-map {
  width: calc((100% - 32px) / 2);
}
.contact-map {
  max-width: 603px;
  width: 50%;
  flex-shrink: 0;
  border: none;
  border-radius: 16px;
}
/* END CONTACT */
/* FOOTER */

.footer {
  background-color: var(--color-primary-dark);
  background-image: url("../images/footer-background.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 32px 0;
  position: relative;
}
.footer::after,
.footer::before {
  contain: "";
  position: absolute;
  background-repeat: no-repeat;
}
.footer::after {
  background-image: url(../images/bread-footer.png);
  width: 180px;
  height: 120px;
  bottom: 0;
}
.footer::before {
  background-image: url(../images/bread-duble-footer.png);
  width: 380px;
  height: 190px;
  right: 0;
  bottom: 0;
}
.footer-container {
  display: flex;
  gap: 20px;
}
.footer-nav,
.footer-address {
  flex-basis: calc(100% / 2);
  display: flex;
  gap: 20px;
}
.footer-logo,
.footer-menu,
.address-list,
.address-info {
  flex-basis: 50%;
}
.address-link {
  font-weight: 300;
  font-size: 16px;
  color: var(--color-primary-light);
  text-decoration: none;
}
.address-link:hover {
  color: var(--color-brand-normal);
}
.address-copyright {
  font-weight: 400;
  font-size: 14px;
  color: var(--bakery-landing-yellow);
}
.address-icon {
  fill: var(--color-primary-light);
}
.address-icon:hover {
  fill: var(--color-brand-normal);
}
/* END FOOTER */

/* MODAL */
.backdrop {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  padding: 20px 0;
  transition: opacity 0.3s, visibility 0.3s;
}
.modal {
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 880px;
  max-height: 880px;
  background-color: var(--color-primary-light);
  border-radius: 30px;
  margin: auto;
  padding: 128px;
  overflow-y: auto;
}
.modal-btn-close {
  position: absolute;
  top: 40px;
  right: 40px;
  padding: 16px 32px;
  border-radius: 8px;
  border: 1px solid var(--color-brand-normal);
  color: white;
  background-color: var(--color-brand-normal);
}
.modal-btn-close:hover {
  color: var(--color-primary-dark);
  font-weight: 500;
  background-color: var(--color-primary-light);
  cursor: pointer;
}
.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.form-input {
  display: block;
  width: 100%;
  padding: 16px 42px;

  border: 1px solid var(--bakery-landing-yellow);
  border-radius: 8px;
  background-color: transparent;
}
.form-field {
  margin-bottom: 32px;
}
.form-input:focus {
  border-color: var(--color-brand-normal);
  outline: none;
}
.form-input::not(:placeholder-shown)::placeholder {
  color: var(--color-primary-dark);
}
.form-btn {
  margin: 0 auto 24px;
  display: block;
}
.form-terms {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.5;
  text-align: center;
  width: 213px;
  margin: 0 auto;
}
.form-terms-link {
  color: var(--color-primary-dark);
}
/* END MODAL */
