/* FONTS */
@import "./utils/fonts.scss";
@import "./utils/texts.scss";
/* END FONTS */

@import "./utils/variables";

@import "./base";

@import "./utils/utils";

@import "./components/buttons";

.container {
  width: 100%;
  max-width: 1288px;
  margin: 0 auto;
  padding: 24px;
}

/* HEADER */
@import "./layout/header";
/* LINK */
@import "./components/links";
/* END LINK */
/* END HEADER */

/* HERO-SECTION */
@import "./components/hero-section";
/* END HERO-SECTION */

/* ADVANTAGES-SECTION */
@import "./layout/adventages-section";
/* END ADVANTAGES-SECTION */

/* TRADITIONS-SECTION */
@import "./layout/tradition-section";
/* END TRADITIONS-SECTION */

/* CHIEFS-SECTION */
@import "./layout/chef-card";
@import "./layout/chefs-section";
/* END CHIEFS-SECTION */

/* FORMATS-SECTION */
@import "./layout/formats-section";
@import "./layout/format-card";
@import "./components/carousel-button";
@import './components/pagination';
/* END FORMATS-SECTION */
/* CONTACT */
@import "./layout/contact-section";
@import "./layout/forms-terms";
@import "./components/input";
/* END CONTACT */
/* FOOTER */

@import './layout/footer';
/* END FOOTER */

/* MODAL */
@import "./layout/modal";

/* END MODAL */
// MOBILE-MENU
@import "./layout/mobile-menu";
