:root {
  --color-primary-light: #faf4ea;
  --color-brand-normal: #819b57;
  --color-brand-dark: #465929;
  --color-primary-dark: #31261a;
  --bakery-landing-yellow: #a28268;
  --color-decor: #cfcfbc;
  
}

  $bp-mobile: 480px;
  $bp-tablet: 768px;
  $bp-desctop: 1280px;