.contact-section {
  padding-bottom: 96px;

  &__container {
    display: flex;
    gap: 32px;
    flex-wrap: wrap;
    align-items: center;
  }
  &__title {
    margin-bottom: 16px;
  }
  &__form,
  &__map {
    width: calc((100% - 32px) / 2);
  }
  &__map {
    max-width: 603px;
    width: 50%;
    flex-shrink: 0;
    border: none;
    border-radius: 16px;
  }
}
