.backdrop {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  padding: 20px 0;
  transition: opacity 0.3s, visibility 0.3s;

  &.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
}
.modal {
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 880px;
  max-height: 880px;
  background-color: var(--color-primary-light);
  border-radius: 30px;
  margin: auto;
  padding: 48px;
  overflow-y: auto;

  @media (min-width: $bp-tablet) {
    padding: 128px;
  }

  &__btn-close {
  position: absolute;
  top: 40px;
  right: 40px;
  padding: 16px 32px;
  border-radius: 8px;
  border: 1px solid var(--color-brand-normal);
  color: white;
  background-color: var(--color-brand-normal);
}
&__btn-close:hover {
  color: var(--color-primary-dark);
  font-weight: 500;
  background-color: var(--color-primary-light);
  cursor: pointer;
}
&__form-field {
    margin-bottom: 32px;
}

&__button {
    margin: 0 auto 24px;
}
}

